@font-face {
    font-family: "gilroy";
    src: url(/Gilroy-Regular.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "gilroy";
  color: white;
}

html,
body {
  height: 100%;
  width: 100%;
}

nav {
  position: fixed;
  display: flex;
  align-items: center;
  width: 100%;
  padding: 2vw 10.4vw;
  justify-content: space-between;
}

.nav-part-2 {
  display: flex;
  gap: 2vw;
}

.nav-part-2 h4 {
  font-size: 0.76vw;
  text-transform: uppercase;
  font-weight: 600;
}

nav:hover #nav-bottom {
  height: 100%;
  bottom: -100%;
}

#nav-bottom {
  height: 0%;
  position: absolute;
  width: 80%;
  transition: all ease 0.65s;
  bottom: 0%;
  border-bottom: 1px solid #dadada;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 2vw 12vw;
  padding-left: 12vw;
  padding-top: 3vw;
}

.bottom-div h5 {
  margin-bottom: 0.4vw;
}

.bottom-div h5 span {
  font-weight: 500;
  font-size: 0.75vw;
}

#page1 {
  height: 100vh;
  width: 100%;
  background-color: #111;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

#page1 h1 {
  font-size: 8.5vw;
  text-transform: uppercase;
  line-height: 9vw;
  font-family: url(/Gilroy-Bold.ttf);
}

#page1 h1 svg {
  height: 6vw;
  width: 6vw;
  background-color: #0da34e;
  border-radius: 50%;
}

#page1 p {
  text-align: center;
  font-weight: 400;
  margin-top: 3vh;
}

#page1-something {
  display: flex;
  align-items: center;
  justify-content: center;
}

#page1-something h4 {
  font-weight: 400;
  font-size: 1vw;
  text-transform: lowercase;
  margin-top: 0.5vw;
  padding: 5px 10px;
  border: 1px solid #a5a5a5;
  border-radius: 50px;
}

#page1-something h4:nth-child(3) {
  border: none;
  padding: 2px;
}

#page2 {
  height: 100vh;
  width: 100%;
  background-color: #111;
}
